.mediaViewInfo {
	--web-view-name: snkrs_emulator;
	--web-view-id: snkrs_emulator;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: snkrs_emulator;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#snkrs_emulator {
	position: absolute;
	width: 428px;
	height: 926px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: snkrs_emulator;
	--web-view-id: snkrs_emulator;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Scroll_Group_3 {
	mix-blend-mode: normal;
	position: absolute;
	width: 436px;
	height: 735px;
	left: -4px;
	top: 97px;
	overflow: hidden;
}
#Group_1 {
	position: absolute;
	width: 436px;
	height: 138px;
	left: 0px;
	top: -11px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 6px;
}
#img_source {
	position: absolute;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 33px;
	overflow: visible;
}
#Nike_Dunk_Low_x_Off-_White_Sho_q {
	left: 147px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_r {
	left: 147.5px;
	top: 83.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#top {
	fill: rgba(255,255,255,1);
}
.top {
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 11px;
	left: 4px;
	top: 0px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_q {
	left: 147px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_r {
	left: 147.5px;
	top: 83.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_s {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 126px;
	overflow: visible;
}
#Rectangle_1_t {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_t {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_u {
	fill: rgba(255,255,255,1);
}
.img_source_u {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_v {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_w {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_x {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 257px;
	overflow: visible;
}
#Rectangle_1_y {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_y {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_z {
	fill: rgba(255,255,255,1);
}
.img_source_z {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_ {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_ {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_ {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 388px;
	overflow: visible;
}
#Rectangle_1_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_ {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_ {
	fill: rgba(255,255,255,1);
}
.img_source_ {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_ba {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_ba {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_ba {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 519px;
	overflow: visible;
}
#Rectangle_1_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_ba {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_ba {
	fill: rgba(255,255,255,1);
}
.img_source_ba {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_bb {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_bb {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_bc {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 650px;
	overflow: visible;
}
#Rectangle_1_bd {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_bd {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_be {
	fill: rgba(255,255,255,1);
}
.img_source_be {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_bf {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_bg {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_bh {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 781px;
	overflow: visible;
}
#Rectangle_1_bi {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_bi {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_bj {
	fill: rgba(255,255,255,1);
}
.img_source_bj {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_bk {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_bl {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Group_1_bm {
	position: absolute;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 912px;
	overflow: visible;
}
#Rectangle_1_bn {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_bn {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#img_source_bo {
	fill: rgba(255,255,255,1);
}
.img_source_bo {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 79px;
	left: 26px;
	top: 27px;
}
#Nike_Dunk_Low_x_Off-_White_Sho_bp {
	left: 147px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 181px;
	height: 41px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
#Delivered_bq {
	left: 147.5px;
	top: 77.5px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 14px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.06px;
}
#Rectangle_14 {
	fill: rgba(255,255,255,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 16px;
	left: 0px;
	top: 89px;
}
#Order_History {
	left: 168.5px;
	top: 63.5px;
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 15px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.02px;
}
#bottom {
	position: absolute;
	width: 432px;
	height: 94px;
	left: 0px;
	top: 832px;
	overflow: visible;
}
#IMG_1152_copy {
	position: absolute;
	width: 432px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_15 {
	fill: rgba(255,255,255,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 166px;
	height: 22px;
	left: 130px;
	top: 72px;
}
#mod_menu {
	opacity: 0.998;
	position: absolute;
	width: 36px;
	height: 35px;
	left: 6px;
	top: 50px;
	overflow: visible;
}